$icons: (
  arrowLeft: 'arrowLeft.svg',
  arrowRight: 'arrowRight.svg',
  moreItem: 'more.svg',
  primary-tick: 'primary-tick.svg',
  error-hint: 'error-hint.svg',
);

@mixin icon($name, $size: 24px) {
  background-image: url('../icons/' + map-get($icons, $name));
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $size;
  height: $size;
}
