@import 'icons';
@import 'colorVariables';

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.icon-arrow-left {
  @include icon(arrowLeft, 16px);
}

.icon-arrow-right {
  @include icon(arrowRight, 16px);
}

.icon-more-item {
  @include icon(moreItem);
}

.sign-in-wrapper {
  @apply bg-neutral_bg1 rounded-lg p-3 max-w-[480px] mx-auto mt-10;
}
.form-wrapper {
  @apply bg-neutral_bg1 flex flex-col gap-5 p-5;
}
